<title> Rules </title>

<h1 align ="center"> How To Play? </h1>
  
  <h2 align="left"> Rules</h2>
    <ul>
      <li>
          Revealing answers or questions on the <a href ="" >Forum</a> 
          will result in immediate <b>disqualification. </b>
       </li>   
      <li>
        <%= link_to "Brainstorm", home_path, :target => :blank %>
        is the race to the <em>Witch mountain</em> (here, LeaderBoard)
      </li>
        
        <li>  
           <%= link_to "Forum", "https://apps.facebook.com/forumforpages/page/769175719761186" %>
            is available for your help. Do not ask senseless questions. 
        </li> 

        <li>  
           Do not ask your fellow contestants or friends for anwers/hints. It will lead to immediate <b> disqualification.</b>
        </li>
      </ul>
           
        
    <hr>

<h2 align ="left"> Instructions </h2>

    <ul>
      <li>
        Answer in any way you want.
        <em>Baby-doll</em>, <em>Baby doll</em>, <em>BABY DOLL!</em> 
        <b>EVERYTHING</b> will all be accepted! 
      </li>
      <li>
        You have unlimited attempts for every level. You <b> won't be judged by the number of attempts you make.</b>
      </li>
     
        


      <li>
         <b>Googling</b> is the key to success.
      </li>

      <li>
        <%=link_to "Google Image Search", "http://images.google.com/" %>
        will also be really useful for reverse image search
      </li>

      <li>
        Something may be dropped in places like title-bar,images etc.
      </li>
    </ul>