<H1 class="text-center">Event Heads</H1>

<div class="main-box">
	
	<div class="team-box col-md-6 col-xs-12 col-lg-6">
	<img src="rohitbegani.png" class="img-circle image-responsive col-md-5 col-xs-12 col-lg-5">
		<div class="col-md-7 col-xs-12 col-lg7">
		<h3>Rohit Begani</h3>
		<p>Developed and designed the website along with Gautam Sawhney.</p>
		<%= link_to "Facebook", "https://www.facebook.com/rohit.begani.3", :target => :blank %>
		</div>
	</div>

	<div class=" team-box col-md-6 col-xs-12 col-lg-6">
	<img src="gautamsawhney.png" class="img-circle image-responsive col-md-5 col-xs-12 col-lg-5">
		<div class="col-md-7 col-xs-12 col-lg-7">
		<h3>Gautam Sawhney</h3>
		<p>Developed and designed the website along with Rohit Begani.</p>
		<%= link_to "Facebook", "https://www.facebook.com/gautam.sawhney2", :target => :blank %>
		</div>
	</div>

</div>

<div class="main-box">

	<H1 class="text-center">Coordinators</H1>

	<div class="co-box col-md-4 col-xs-12 col-lg-4">
		<div class="col-md-offset-2">
			<img src="navdeep.png" class="img-circle image-responsive">
			<h3 class="col-md-offset-2 col-xs-offset-2 col-lg-offset-2">Navdeep Saini</h3>
		</div>
	</div>

	<div class="co-box col-md-4 col-xs-12 col-lg-4">
		<div class="col-md-offset-2">
			<img src="Abhishek.png" class="img-circle image-responsive">
			<h3 class="col-md-offset-2 col-xs-offset-2 col-lg-offset-2">Abhishek Khanna</h3>
		</div>
	</div>
	
	<div class="co-box col-md-4 col-xs-12 col-lg-4">
		<div class="col-md-offset-2">
			<img src="jatin.png" class="img-circle image-responsive">
			<h3 class="col-md-offset-2 col-xs-offset-2 col-lg-offset-2">Jatin Wadhwa</h3>
		</div>
	</div>

</div>